/* common style start */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
	--themeRed: #e43a47;
	--gray: #efefef;
}

html {
	scroll-behavior: smooth;
}

button,
body {
	font-family: "Poppins", sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

p {
	font-size: 14px;
	line-height: 26px;
}

.fullContainer {
	width: 100%;
}

.container {
	width: 1140px;
	margin: auto;
}

.sectionTitle {
	width: 300px;
	border-bottom: 3px solid var(--themeRed);
	text-align: center;
	font-size: 2rem;
	font-weight: 200;
	margin: 0 auto 50px;
	position: relative;
	padding: 10px 0;
	text-transform: uppercase;
}

.sectionTitle::after {
	display: inline-block;
	content: "";
	height: 15px;
	width: 15px;
	background-color: var(--themeRed);
	position: absolute;
	left: calc(50% - 10px);
	top: calc(75% - 7px);
	transform: rotate(45deg) translate(50%, 50%);
	border: 3px solid #fff;
}

section {
	padding: 100px 0;
	position: relative;
}

/* common style end */

/* home style start */

header {
	width: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	position: fixed;
	z-index: 2;
}

header .container {
	display: flex;
	justify-content: space-between;
}

header .container .logo {
	padding: 15px 0;
	height: 15px;
}

header .container .logo {
	height: 10%;
	font-size: 14px;
}

header nav ul {
	list-style-type: none;
}

header nav ul li {
	display: inline-block;
}

header nav ul li a {
	display: inline-block;
	height: 75px;
	line-height: 75px;
	padding: 0 15px;
	text-decoration: none;
	text-transform: capitalize;
	font-size: 16px;
	color: white;
	transition: 0.3s;
}

header nav ul li a:hover {
	background-color: gold;
}

/* home style end */

/* education section start */
.education {
	height: 100vh;
	overflow: hidden;
	position: relative;
	/* display: flex; */
}

.education .sectionTitle {
	color: #444;
	/* text-shadow: 0 0 4px #000; */
}

.education .educationContainer {
	position: absolute;
	background-color: #00000096;
	width: 95%;
	top: 55vh;
	color: #fff;
	text-shadow: 0 0 3px #000;
	padding: 30px;
	margin: auto;
}

.education .educationContainer h3 {
	font-size: 35px;
	font-weight: 300;
}

.education .educationContainer p {
	font-size: 15px;
	line-height: 20px;
	margin: 10px 0 30px;
}

/* education section end here */

/* footer start here */

footer {
	background-color: #181818;
	color: #7f7f7f;
	font-size: 14px;
	padding: 50px 0;
}

footer .container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 50px;
}

footer .title {
	font-size: 20px;
	font-weight: 600;
	text-transform: uppercase;
	border-bottom: 2px solid;
	margin-bottom: 30px;
	padding: 0 0 5px 0;
}

footer p {
	margin-bottom: 10px;
}

footer .linksContainer ul {
	list-style-type: none;
}

footer .linksContainer ul li a {
	text-decoration: none;
	color: #7f7f7f;
	margin-bottom: 10px;
	display: inline-block;
}

footer .newsLetterContainer img {
	height: 40px;
	margin-bottom: 11px;
}

footer .connectContainer a {
	padding: 0 10px;
}

footer .contact {
	color: #fff;
	text-decoration: none;
}

/* footer end here */
